<input matInput placeholder="filter" (keyup)="applyFilter($event)"/>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="body">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BODY </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.body}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> TITLE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="userId">
            <mat-header-cell *matHeaderCellDef> USER ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="getSelectedRow(row)"
        ></mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="pageSizeOptions"  class="mat-paginator-sticky"
                   [length]="totalLength"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
<router-outlet></router-outlet>